<form nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label [nzNoColon]="true" nzRequired>Address</nz-form-label>
    <nz-form-control nzErrorTip="Please input address!">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input nz-input id="address" formControlName="address" placeholder="Address"/>
      </nz-input-group>
    </nz-form-control>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch (click)="qrScan()"><i nz-icon type="qrcode"></i></button>
    </ng-template>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzNoColon]="true" nzRequired>Max Level</nz-form-label>
    <nz-form-control>
      <nz-slider formControlName="maxLevel"></nz-slider>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzNoColon]="true" nzRequired>RangePicker</nz-form-label>
    <nz-form-control>
      <nz-range-picker formControlName="rangePicker"></nz-range-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <div class="pfy-form-btn">
        <button nz-button nzType="primary" (click)="submitForm()">Submit</button>
        <button nz-button (click)="handleCancel()">Cancel</button>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>
