<div class="func-area">
  <div class="pfy-btn-right">
    <button (click)="addFlowLabeling()" nz-button nzType="primary" [disabled]="!(project?.isFlowLabelingEnabled)">
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      New Flow Labeling
    </button>
    <button (click)="reload()" nz-button nzType="primary">
      <i nz-icon nzType="reload" nzTheme="outline"></i>Reload</button>
  </div>
</div>
<div class="pfy-page-content">
  <pfy-table
    [tblColumns]="tblColumns"
    [tblData]="listOfData"
    [total]="totalElements"
    [(pageIndex)]="pageIndex"
    [loading]="isLoading"
    (detailClick)="handleDetailClick($event)"
    [pageable]="true"
    [pageSizeOptions]="pageSizeOptions"
    (pageSizeChange)="handlePageSizeChange($event)"
  ></pfy-table>
</div>
