<nz-page-header [nzTitle]="addressScan?.currency?.name.toUpperCase() +' Address 一 ' + addressScan.address">
</nz-page-header>
<div nz-row>
  <div nz-col>
    <nz-breadcrumb style="margin: 16px;">
      <nz-breadcrumb-item>Address Scan</nz-breadcrumb-item>
      <nz-breadcrumb-item>Result 一 {{addressScan.address}}</nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
</div>
<div nz-row>
  <div nz-col>
    <nz-tag *ngFor="let label of labels" [nzColor]="riskLevels[label.category.riskLevel].colorAlias">{{label.id}} ({{label.categoryId}})</nz-tag>
  </div>
</div>
<div nz-row>
  <div nz-col>
    <nz-alert *ngIf="addressScan?.status === 'FAILED'" nzType="error" nzMessage="Error" nzDescription="Failed to load logs: Unsuccessful HTTP response" nzShowIcon> </nz-alert>
  </div>
</div>



<div style="padding: 12px;">
  <nz-row [nzGutter]="16">
    <nz-col [nzSpan]="4">
      <nz-card>
        <nz-statistic [nzValue]="!!witnessSummary ? witnessSummary[5] : '...'" [nzTitle]="'Critical'"
          [nzValueStyle]="{ color: '#EB2F96' }">
        </nz-statistic>

      </nz-card>
    </nz-col>
    <nz-col [nzSpan]="4">
      <nz-card>
        <nz-statistic [nzValue]="!!witnessSummary ? witnessSummary[4] : '...'" [nzTitle]="'High'"
          [nzValueStyle]="{ color: '#f5222d' }">
        </nz-statistic>

      </nz-card>
    </nz-col>

    <nz-col [nzSpan]="4">
      <nz-card>
        <nz-statistic [nzValue]="!!witnessSummary ? witnessSummary[3] : '...'" [nzTitle]="'Medium'"
          [nzValueStyle]="{ color: '#fa8c16' }">
        </nz-statistic>

      </nz-card>
    </nz-col>

    <nz-col [nzSpan]="4">
      <nz-card>
        <nz-statistic [nzValue]="!!witnessSummary ? witnessSummary[2] : '...'" [nzTitle]="'Low'"
          [nzValueStyle]="{ color: '#2f54eb' }">
        </nz-statistic>
        <ng-template #prefixTplOne><i nz-icon type="arrow-up"></i></ng-template>
      </nz-card>
    </nz-col>
    <nz-col [nzSpan]="4">
      <nz-card>
        <nz-statistic [nzValue]="!!witnessSummary ? witnessSummary[1] : '...'" [nzTitle]="'Normal'"
          [nzValueStyle]="{ color: '#52c41a' }">
        </nz-statistic>

      </nz-card>
    </nz-col>

  </nz-row>
</div>

<nz-content style="margin:24px 16px 0;">
  <nz-spin [nzSpinning]="isLoadingPipeline">
    <div style="padding:24px; background: #fff; min-height: 550px;">
      <div nz-row>
        <div nz-col nzSpan="23">
          <nz-tabset [nzTabPosition]="'right'" [nzType]="'line'">
            <nz-tab [nzTitle]="'Issues'">

              <div nz-row style="margin-bottom: 20px;">
                <div nz-col nzSpan="12">
                  <h2>Issues</h2>
                </div>
                <div nz-col nzSpan="12" style="text-align: right;">
                  <nz-radio-group [(ngModel)]="category" (ngModelChange)="reloadWitnessPage(true, category)">
                    <label nz-radio-button [nzValue]="null">All</label>
                    <label nz-radio-button [nzValue]="'SEND'">Send</label>
                    <label nz-radio-button [nzValue]="'RECEIVE'">Receive</label>
                    <label nz-radio-button [nzValue]="'PREDICT'">Predict</label>
                    <label nz-radio-button [nzValue]="'OTHER'">Other</label>
                  </nz-radio-group>
                </div>
              </div>
              <nz-table #issueTable [nzLoading]="isWitnessLoading" [nzData]="witnessResultPage.content"
                nzShowSizeChanger [nzFrontPagination]="false" [(nzPageIndex)]="witnessPageIdx"
                [(nzPageSize)]="witnessPageSize" [nzTotal]="witnessResultPage.totalElements"
                (nzPageIndexChange)="reloadWitnessPage(false, category)"
                (nzPageSizeChange)="reloadWitnessPage(true, category)">
                <thead>
                  <tr>
                    <th>
                      Rule ID
                    </th>
                    <th>
                      Category
                    </th>
                    <th style="width: 100px;">Risk Level</th>

                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let data of issueTable.data">
                    <td>
                      <a nz-button nzType="link" (click)="openRuleDrawer(data.ruleId)">{{ data.ruleId }}</a>
                    </td>
                    <td>
                      {{ data.category }}
                    </td>
                    <td>
                      <nz-badge [nzColor]="riskLevels[data.riskLevel].colorAlias" [nzText]="riskLevels[data.riskLevel].name"></nz-badge>
                    </td>

                    <td>
                      <markdown class="markdown-body" ngPreserveWhitespaces>{{data.description}}</markdown>
                      <!-- <code></code> -->
                    </td>


                  </tr>
                </tbody>
              </nz-table>
            </nz-tab>
            <nz-tab [nzTitle]="'Flow'" (nzSelect)="flowTabSelected()">
              <nz-spin [nzSpinning]="isLoadingDiagram" nzTip="Loading...">
                <div nz-row>
                  <div nz-col nzSpan="24">
                    <h2>Flow Analysis</h2>
                  </div>
                </div>
                <div nz-row>
                  <div nz-col nzSpan="22" nzOffset="1" style="text-align: right;">
                    <button (click)="loadMoreEdges()" nz-button nzType="primary" nzShape="round"><i nz-icon
                        nzType="reload" nzTheme="outline"></i>Load
                      More
                    </button>
                  </div>
                </div>

                <div nz-row>
                  <div nz-col nzSpan="22" nzOffset="1">
                    <nz-divider></nz-divider>
                  </div>
                </div>

                <div nz-row>
                  <div nz-col nzSpan="24">
                    <div class="flow-diagram" #flowDiagramDiv></div>
                  </div>
                </div>
              </nz-spin>


            </nz-tab>
            <nz-tab [nzTitle]="'Cluster'" *ngIf="addressScan?.enableAddressCluster">
              <ng-template nz-tab>

                <app-summed-cluster-graph *ngIf="addressScan" [addressScanId]="addressScan?.id"
                  [nodeActions]="clusterGraphActions" (onNodeAction)="handleClusterGraphAction($event)">
                </app-summed-cluster-graph>
              </ng-template>
            </nz-tab>
            <nz-tab [nzTitle]="'Case'">
              <nz-spin [nzSpinning]="isAddressCaseLoading" nzTip="Loading...">
                <nz-empty *ngIf="!addressCase" [nzNotFoundContent]="contentTpl" [nzNotFoundFooter]="footerTpl">
                  <ng-template #contentTpl>
                    <span>Address </span>
                    <span nz-text><code>{{addressScan?.address}}</code></span>
                    <span> is not an opened case</span>
                  </ng-template>
                  <ng-template #footerTpl>
                    <button nz-button nzType="primary" (click)="openCase()">Open Now</button>
                  </ng-template>
                </nz-empty>
                <app-address-case-detail-page *ngIf="addressCase" [addressCaseId]="addressCase?.id"
                  [showComments]="true" [showScans]="false"></app-address-case-detail-page>
              </nz-spin>
            </nz-tab>
            <nz-tab [nzTitle]="'Incident'">
              <ng-template nz-tab>
                <button (click)="addIncident()" nz-button nzType="primary">
                  <i nz-icon nzType="plus" nzTheme="outline">
                  </i>
                  Open Incident from Scan
                </button>
                <br />
                <app-incident-table #incidentTable [projectId]="addressScan?.project?.id"
                  [currencyId]="addressScan?.currency?.id" [address]="addressScan?.address"
                  (detailClick)="handleDetailClick($event)"></app-incident-table>
              </ng-template>
            </nz-tab>
            <nz-tab [nzTitle]="'Label'" (nzSelect)="chartTabSelected()">
              <ng-template nz-tab>
                <div nz-row>
                  <div nz-col nzSpan="24">
                    <h3>Spend</h3>
                  </div>
                </div>
                <div nz-row>
                  <div nz-col nzSpan="24">
                    <nz-spin [nzSpinning]="isLoadingLabelSunburst" nzTip="Loading...">
                      <div class="label-sunburst" #forwardLabelSunburstDiv></div>
                    </nz-spin>
                  </div>
                </div>
                <div nz-row>
                  <div nz-col nzSpan="24">
                    <h3>Receive</h3>
                  </div>
                </div>
                <div nz-row>
                  <div nz-col nzSpan="24">
                    <nz-spin [nzSpinning]="isLoadingLabelSunburst" nzTip="Loading...">
                      <div class="label-sunburst" #backwardLabelSunburstDiv></div>
                    </nz-spin>
                  </div>
                </div>
              </ng-template>
            </nz-tab>
          </nz-tabset>
        </div>
      </div>

    </div>
  </nz-spin>

  <!--Cluster Detail Drawer-->

  <nz-drawer [nzVisible]="showClusterDrawer" [nzWidth]="1000" [nzClosable]="false" (nzOnClose)="closeClusterDrawer()">
    <app-address-info *ngIf="selectedClusterNode?.addresses?.length === 1" [projectId]="addressScan?.project?.id"
      [currencyId]="addressScan?.currency?.id" [address]="selectedClusterNode?.clusterId"
      [tags]="selectedClusterNode?.labels"></app-address-info>
    <app-cluster-info *ngIf="selectedClusterNode?.addresses?.length > 1" [projectId]="addressScan?.project?.id"
      [clusterId]="selectedClusterNode?.clusterId" [addresses]="selectedClusterAddresses"
      [tags]="selectedClusterNode?.labels"></app-cluster-info>
  </nz-drawer>

  <!--Add Incident Drawer-->
  <nz-drawer [nzVisible]="showIncidentFormDrawer" [nzWidth]="720" [nzClosable]="false"
    (nzOnClose)="closeIncidentFormDrawer()">
    <app-incident-form [projectId]="addressScan?.project?.id" (onSubmitted)="onIncidentFormSubmit($event)">
    </app-incident-form>
  </nz-drawer>

  <!-- Rule Drawer -->
  <nz-drawer [nzVisible]="showRuleDrawer" [nzWidth]="720" [nzClosable]="true"
             (nzOnClose)="closeRuleDrawer()">
      <app-rule-info [ruleId]="currRuleId"></app-rule-info>
  </nz-drawer>
</nz-content>
