<nz-breadcrumb>
  <nz-breadcrumb-item>Holder Management</nz-breadcrumb-item>
  <nz-breadcrumb-item>Holder</nz-breadcrumb-item>
  <nz-breadcrumb-item>Scan History</nz-breadcrumb-item>
  <nz-breadcrumb-item>{{holderId}}</nz-breadcrumb-item>
</nz-breadcrumb>

<div class="pfy-page-content">
  <pfy-table
    [tblColumns]="tblColumns"
    [tblData]="listOfData"
    [total]="total"
    [(pageIndex)]="currentPage"
    [loading]="isLoading"
    (detailClick)="handleDetailClick($event)"
    [pageable]="true"
    [pageSizeOptions]="pageSizeOptions"
    (pageSizeChange)="handlePageSizeChange($event)"
  ></pfy-table>
</div>
