<nz-breadcrumb>
  <nz-breadcrumb-item>Holder Management</nz-breadcrumb-item>
  <nz-breadcrumb-item>Holder Group</nz-breadcrumb-item>
</nz-breadcrumb>

<div class="func-area">
  <div class="pfy-btn-right">
    <button (click)="addHolderGroup()" nz-button nzType="primary">New Holder Group</button>
  </div>
</div>
<div class="pfy-page-content">
  <pfy-table
    [tblColumns]="tblColumns"
    [tblData]="listOfData"
    [tblTotal]="total"
    [(pageIndex)]="currentPage"
    [loading]="isLoading"
    (detailClick)="handleDetailClick($event)"
    [pageable]="true"
    [pageSizeOptions]="pageSizeOptions"
    (pageSizeChange)="handlePageSizeChange($event)"
    (actionClick)="handleActionClick($event)"
  ></pfy-table>
</div>

