<nz-breadcrumb>
  <nz-breadcrumb-item>Holder Management</nz-breadcrumb-item>
  <nz-breadcrumb-item>Holder Group</nz-breadcrumb-item>
  <nz-breadcrumb-item>New Holder Group</nz-breadcrumb-item>
</nz-breadcrumb>
<div class="pfy-page-content">
  <div class="center">
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzNoColon]="true" nzRequired>Holder Group</nz-form-label>
        <nz-form-control nzErrorTip="Please input the Namespace!">
          <input type="text" nz-input formControlName="name" placeholder="Name"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="isEditing">
        <nz-form-label [nzNoColon]="true" nzRequired>Status</nz-form-label>
        <nz-form-control nzErrorTip="Please input the status!">
          <nz-radio-group formControlName="enabled">
            <label nz-radio-button [nzValue]="true">Enable</label>
            <label nz-radio-button [nzValue]="false">Disable</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <div class="pfy-form-btn">
            <button nz-button nzType="primary" (click)="submitForm()">Submit</button>
            <button nz-button (click)="handleCancel()">Cancel</button>
          </div>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
