<nz-layout class="full-height">
  <nz-sider nzCollapsible [(nzCollapsed)]="isSideBarCollapsed" [nzBreakpoint]="'lg'" [nzCollapsedWidth]="0"
            [nzWidth]="270"
            [nzZeroTrigger]="zeroTrigger">
    <div class="logo"></div>
    <ul nz-menu nzMode="inline" nzTheme="dark" [nzInlineCollapsed]="isSideBarCollapsed">
      <li nz-menu-item>
        <span title><i nz-icon type="home"></i><span class="nav-text">Home</span></span>
      </li>
      <li nz-submenu>
        <span title><i nz-icon nzType="bar-chart" nzTheme="outline"></i><span
          class="nav-text">ADDRESS SCAN</span></span>
        <ul>
          <li nz-menu-item routerLink="/main-layout/new-scan">NEW SCAN</li>
          <li nz-menu-item routerLink="/main-layout/scan-history">SCAN HISTORY</li>
        </ul>
      </li>
      <li nz-menu-item routerLink="/main-layout/quick-scan">
        <span title><i nz-icon type="area-chart" nzTheme="outline"></i><span class="nav-text">QUICK SCAN</span></span>
      </li>
      <li nz-menu-item>
        <span title><i nz-icon nzType="area-chart" nzTheme="outline"></i><span class="nav-text">KYC LOOKUP</span></span>
      </li>
      <li nz-submenu>
        <span title><i nz-icon nzType="area-chart" nzTheme="outline"></i><span class="nav-text">HOLDER MANAGEMENT</span></span>
        <ul>
          <li nz-menu-item routerLink="/main-layout/namespace"><i nz-icon nzType="bar-chart" nzTheme="outline"></i>NAMESPACE
          </li>
          <li nz-menu-item routerLink="/main-layout/holder"><i nz-icon nzType="bar-chart" nzTheme="outline"></i>HOLDER
          </li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i nz-icon nzType="area-chart" nzTheme="outline"></i><span
          class="nav-text">Holder Scan</span></span>
        <ul>
          <li nz-menu-item routerLink="/main-layout/holder-scan"><i nz-icon nzType="bar-chart" nzTheme="outline"></i>SCAN
          </li>
          <li nz-menu-item routerLink="/main-layout/holder-scan-schedule"><i nz-icon nzType="bar-chart"
                                                                             nzTheme="outline"></i>SCHEDULE
          </li>
          <li nz-menu-item routerLink="/main-layout/"><i nz-icon nzType="bar-chart" nzTheme="outline"></i>TX MONITORING
          </li>
        </ul>
      </li>
      <li nz-menu-item>
        <span title><i nz-icon type="area-chart" nzTheme="outline"></i><span class="nav-text">UBO IDENTIFICATION</span></span>
      </li>
      <li nz-submenu>
        <span title><i nz-icon nzType="setting" nzTheme="outline"></i><span class="nav-text">SETTINGS</span></span>
        <ul>
          <li nz-menu-item routerLink="/main-layout"><i nz-icon nzType="setting" nzTheme="outline"></i>WALLET CONFIG
          </li>
          <li nz-menu-item routerLink="/main-layout"><i nz-icon nzType="setting" nzTheme="outline"></i>ROLE & PERMISSION
          </li>
          <li nz-menu-item routerLink="/main-layout"><i nz-icon nzType="setting" nzTheme="outline"></i>BILLING</li>
        </ul>
      </li>
      <!--      <li nz-menu-item (click)="logout()">-->
      <!--        <span title><i nz-icon type="logout"></i><span class="nav-text">Logout</span></span>-->
      <!--      </li>-->

    </ul>
  </nz-sider>
  <nz-layout style="height: 100%;">
    <nz-header>
      <i
        class="trigger"
        nz-icon
        [nzType]="isSideBarCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isSideBarCollapsed = !isSideBarCollapsed"
      ></i>
      <div class="avatar">
        <span>{{user.displayName}}</span>
        <span><nz-avatar nzIcon="user"></nz-avatar></span>
      </div>

    </nz-header>
    <nz-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">Unblock Analysis ©2019</nz-footer>
  </nz-layout>
</nz-layout>
<ng-template #zeroTrigger>
  <i nz-icon type="menu-fold" theme="outline"></i>
</ng-template>
