.full-height {
  height: 100vh;
}

.logo {
  height: 40px;
  background-image: url('/assets/img/logo-banner-l-white.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 16px;
}
