.diagramsPanel {
  width:100%;
  white-space:nowrap;
}

.diagramDiv {
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
  width: 80%;
  height: 400px;
}

.paletteDiv {
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
  width: 19%;
  height: 400px;
}
.flow-diagram {
  width: 100%;
  height: 850px;

}
canvas {
  position: relative;
}
.direction-icon {
  color: #1890ff;
  font-size: 16pt;
}


#wrapper code,
#wrapper kbd,
#wrapper pre,
#wrapper samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
#wrapper h1 code,
#wrapper h2 code,
#wrapper h3 code,
#wrapper h4 code,
#wrapper h5 code,
#wrapper h6 code {
  font-size: inherit;
}
#wrapper code {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 85%;
}
