<nz-page-header nzTitle="Namespace">
</nz-page-header>
<div class="func-area">
  <div class="btn">
    <button nz-button nzType="primary">New NameSpace</button>
  </div>
</div>
  <nz-table #basicTable [nzData]="listOfData">
    <thead>
    <tr>
      <th>NameSpace</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.namespace }}</td>
      <td>{{ data.status }}</td>
      <td>
        <a>Edit</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a>Delete</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
