<div nz-row>
  <div nz-col>
    <nz-breadcrumb style="margin: 16px;">
      <nz-breadcrumb-item>Incident</nz-breadcrumb-item>
      <nz-breadcrumb-item>{{incident?.title}}</nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
</div>
<div nz-row>
  <div nz-col>
    <h3 nz-title>{{incident?.title}}</h3>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="24">
    <span><nz-tag
      nzColor="{{statusFormatter(incident?.status)?.color}}">{{statusFormatter(incident?.status)?.title}}</nz-tag></span>
    <span nz-text nzType="secondary">{{formatAuthor(incident)}}
      opened this incident @ {{readableDuration(this.incident?.createdTime)}}</span>
  </div>
</div>
<br/>
<br/>
<div nz-row>
  <div nz-col nzSpan="6">
    <span nz-text>Status:</span>
    <nz-select [(ngModel)]="status" nzPlaceHolder="Choose" [nzLoading]="isSubmittingStatus">
      <nz-option
        *ngFor="let status of incidentStatusList"
        nzValue="{{status.value}}"
        nzLabel="{{status.label}}">
      </nz-option>
    </nz-select>
  </div>
</div>
<br/>
<app-incident-cluster-graph #incidentClusterGraph [incidentId]="incidentId" [nodeActions]="incidentGraphActions"
                            (onNodeAction)="onIncidentGraphAction($event)"></app-incident-cluster-graph>
<br/>
<nz-content style="margin:24px 16px 0;">
  <div style="padding:24px; background: #fff; min-height: 550px;">
    <div nz-row>
      <div nz-col nzSpan="23">
        <nz-tabset [nzTabPosition]="'top'" [nzType]="'line'">
          <nz-tab [nzTitle]="'Scans'">
            <div nz-row>
              <div nz-col [nzSpan]="24">
                <button (click)="addScan()" nz-button nzType="primary">
                  <i nz-icon
                     nzType="plus"
                     nzTheme="outline">
                  </i>
                  New Scan
                </button>
              </div>
            </div>
            <br/>
            <app-address-scan-table #addressScanTable [incidentId]="incidentId" [autoReload]="true"
                                    (detailClick)="onAddressScanClick($event)"></app-address-scan-table>
          </nz-tab>
        </nz-tabset>
      </div>
    </div>
  </div>
</nz-content>

<nz-drawer
  [nzVisible]="showAddressScanDrawer"
  [nzOffsetX]="showClusterDrawer ? 180 : 0"
  [nzWidth]="900"
  [nzClosable]="false"
  (nzOnClose)="closeAddressScanDrawer()">
  <nz-spin [nzSpinning]="isLoadingAddressScanGraph">
    {{showClusterDrawer}}
    <app-summed-cluster-graph
      [addressScanId]="currentAddressScan?.id" [nodeActions]="addressScanGraphActions"
      (onNodeAction)="onAddressScanGraphAction($event)">
    </app-summed-cluster-graph>
  </nz-spin>
  <nz-drawer [nzVisible]="showClusterDrawer" [nzWidth]="720" [nzClosable]="false" (nzOnClose)="closeClusterDrawer()">
    <app-address-info [projectId]="incident?.projectId" [currencyId]="selectedClusterNode?.currencyId"
                      [address]="selectedClusterNode?.clusterId" [tags]="selectedClusterNode?.tags"></app-address-info>
  </nz-drawer>
</nz-drawer>

<nz-drawer
  [nzVisible]="showAddScanDrawer"
  [nzWidth]="600"
  [nzClosable]="false"
  (nzOnClose)="closeAddScanDrawer()">
  <app-address-scan-form [projectId]="incident?.projectId"
                         [currencyId]="selectedIncidentClusterNode?.currency?.id"
                         [address]="selectedIncidentClusterNode?.clusterId"
                         (onSubmitted)="onScanSubmitted($event)"></app-address-scan-form>
</nz-drawer>

<nz-drawer [nzVisible]="showIncidentClusterDrawer" [nzWidth]="720" [nzClosable]="false"
           (nzOnClose)="closeIncidentClusterDrawer()">
  <app-address-info [projectId]="incident?.projectId" [currencyId]="selectedIncidentClusterNode?.currency?.id"
                    [address]="selectedIncidentClusterNode?.clusterId"
                    [tags]="selectedIncidentClusterNode?.tags"></app-address-info>
</nz-drawer>


<nz-drawer
  [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="showEditIncidentClusterDrawer"
  nzTitle="Attribute"
  (nzOnClose)="closeEditIncidentClusterDrawer()"
>
  <form nz-form [formGroup]="editIncidentClusterForm">
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Title</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="title" placeholder="please enter title"/>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Description</nz-form-label>
          <nz-form-control>
            <nz-input-group>
              <textarea formControlName="subtitle" nz-input rows="4"></textarea>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Fill</nz-form-label>
          <nz-form-control>
            <nz-input-group>
              <nz-select style="width: 100%;" formControlName="fillColor" nzAllowClear nzPlaceHolder="Select Color">
                <nz-option *ngFor="let color of fillColorOptions" nzCustomContent [nzLabel]="color" [nzValue]="color">
                  <nz-badge [nzColor]="color" [nzText]="color"></nz-badge>
                </nz-option>
              </nz-select>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Stroke</nz-form-label>
          <nz-form-control>
            <nz-input-group>
              <nz-select style="width: 100%;" formControlName="strokeColor" nzAllowClear nzPlaceHolder="Select Color">
                <nz-option *ngFor="let color of strokeColorOptions" nzCustomContent [nzLabel]="color" [nzValue]="color">
                  <nz-badge [nzColor]="color" [nzText]="color"></nz-badge>
                </nz-option>
              </nz-select>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <div class="footer">
    <button nz-button nzType="default" (click)="closeEditIncidentClusterDrawer()" style="margin-right: 8px;">Cancel
    </button>
    <button nz-button nzType="primary" (click)="submitEditIncidentDrawer()"
            [nzLoading]="isSubmittingEditIncidentCluster">Submit
    </button>
  </div>
</nz-drawer>
