<div class="content">
  <div class="app-sider-logo">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAVEAAACVCAYAAADheMlUAAAACXBIWXMAABYlAAAW
JQFJUiTwAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAADG9J
REFUeNrs3ftV4loUx/Fw1/w/TgdYwWAHUMFgBRMrUCpQKkArACsQKyBWIFOBTAWX
Drhn6866EXNeeTDB+X7WYs1DyOPE/NgnOUl6OyNpUM9IOqzr69v08v1tuv77h8/n
H5oAAAhRACBEAYAQBQBCFABAiAIAIQoAhCgAEKIAAEIUAAhRACBEAYAQBQBCFABA
iAIAIQoAhCgAEKIAAEIUANryhSb49EYdX74VmwjHrMeD6rq1vmyPz72+oDsPACBE
AYAQBQBCFAAIUQAgRAEAhCgAEKIAQIgCACEKACBEAYAQBQBCFAAIUQAAIQoAhCgA
EKIAQIgCACEKACBEAYAQBQBCFAAIUQAAIQoAhCgAEKIAQIgCACEKACBEAYAQBQBC
FAAIUQAAIQoAhCgAEKIAQIgCAAhRAGjIF5rgc9vtdkNaASBEUd2q48s3YhPhmPVM
pbJrdIJGxyuzTq9v08vX+V/Ajv++AD4cEwUAQhQACFEAIEQBgBAFABCiAECIAgAh
CgCEKACAEAUAQhQACFEAIEQBgBAFABCiAECIAsDx4M72AILsdruB+WNm+fGk1+ut
O778suyDkh+tzbJPCFEAbTsxr6HjZ103cCw/lSjK8biWWlWXLRikctl6Pm/bWbeH
qNg8y19pnUCIAjFmjqpFHq6XeT5ve0Bglhzm4Xyz2KrLBO/G/DE1Ybpg84fjxBKA
XN+85iZMV+Z1QnMQogCqkQr2mmYgRAFUd2Wq0T7NQIgCqFeRghAFUNRT5q/n5uUa
KUAlSogCcITpMjnMSIFPjSFOQMfpsclB8v/VNjKeM2tivKmMDTXTz9ruuuvZ/rF5
fU/eXzW0Ma9fddbHTHus0/yqfz5pGy3NNDeEKPC5A3JlCbBMu9sy3jO1fFYCYqIV
ZZ2AtgXouoH1k+lf29ahZH2CxqlqKF+Z12Xy8aKCfH1m5n3SPrcVl33uWW4J6gkh
CnSTBMMqKb/WOycB9WB29ouYAfKFq6nygLMFRFYzQK8S+7X2tvWRcao/5QvEdgWV
Xo31kIQdsz2puOwhATqS6pkQBbppEPFeCZ6N2aFDQ28V8J5JnctAA0LIRUJeBvyP
9pdBA3SVtHitfkyAyj84sQR8Dj8bnFatSz/1GGVacxnyanO/C//whwN0UwxQQhTo
vrxb7asyhw3O89qEybPjJiquEJKAmwe8dRNSkWog564CuvBrbatt7HKb14MnQGXa
Z/snwAhRoLvkhNGp2Wml8pGhSGeO9/YbnvdAu9SxFeXYUylKhfvNrM+pjlW98ATe
peXvZQEn0zzT9vqWvJ2YCwnr/Pjz2DP9UdkhDkIU6K6L4k6rFdDiwMsw1+OQoX64
AtSsw/46LTTsnBW2VsUnni72u8CUUQuBhyWKw8fKZLYAJUSBFjR0zbnt/p6/6064
V6DV7TSiGgwJJJuJZXkyrbpt7Tn0THfa4r1QF1rZWqdPiALNayJED3KDZKluzetG
u9VVgjF03X03ff4V0OVOHJVoW558byBEgfgd80eNaqyTd4/3DNiPCdFtxS+Wrx39
PZj7jgsTokA5V7c5td20WP//skbF9acOQQwbmpTtKqcTWxhpm6WeYK7zpdZqkBKi
QLnM07Vc7R/71H+vPFVX1sEAlbPSs4a6y65LRWf7J6k0QGeO7nr+TCpXu13ZTn4F
Hp+WaS+qBilXLAHl3dtMr+XuO7q4L/qe/H2+HXYbcVVRm6G5KnwZhHTVY5b5Pnkb
z2n78pHxpwut9KULP/a020K3x8Z8bu1YXpmuXCP/WJiX9AjkmOZNwPa+0Gcmpp4g
TfbP+BOigDsQfI/JCAnP3F1H1mtYoR1Cv3zWJmiWiXvMZRo4OenGTwv/lr8/uCrS
kgB/ilj2SkFKdx6wu00auJNRoUt8e4RtsKxQPfsG0Iea7I0pXSYtj5OVII3t2hOi
gH2H2jYUCPL58yN8rnuWuIc+udptVLPdSu9MpSGXtbzdo4KUEAU83dPkbUB61R1X
PnfWxA2UD2ijITaqGvw12k3mPXJdaaSXwE5bboNJQC/kNUh7Oz0I0OAvXa/Lvx1d
X1+2R3fXV4cByd2SfNeHv95V3bzufV1hrWb6ZWFSFiS6DEPLut8ETNdXMVvvMK9n
ulPLZxe2u8gHtpu012PkfVFleS61PQYlYSxtP82Xq0Jb5zd+dv/OsdMSomyPSstt
O7O9OcQjKY6VBl+/jfbKp33oERCEKCHK9gBq4JgoABCiAECIAsDR4YolAEH07Hbp
s5x02NExrIOcDJSTgo2d0CJEAYTqJ80+y+mQ4Zk/5G5Y+L9bE6QTQhQ4/A7ZTxxj
MLtwkxF8IDdd2R+SJnd/+m22V63LcQlRIN7cVZGZHfOiziOH0UoX3nb3Jzk8UStE
ObEExFehvi7tT1qqU1xXlw3qTpwQBeKEPLRt2NDD6tCMjeNnS0IUOKxx4PtSmqob
9Cy8rcte+x6vhCgQ3pX33YWdLn13g1TOwk8LValUoKMmTgJ+6fq13y00Zu8v2/F3
7EKNiXkgWl/uXsSZ+k7t+zdJwKNCqESBdr6MfE+kpBr9SzHECQiTVvmMCd9J3Tva
6xCdYfL/WWa53+c65oobnYYcjpCHw/WTt0c3y+eXR3jH/XyUhKzP9+T9IRZpG3kI
Xlb3RtgB81i2ctvDXccdQ/cb3du+ZtLPjtnOHD9LK27vob5eHO+Za4Xsmr5vGv+a
142+nG3qeo8sh07L5sYXWJ5NO857BLreIV4K01+FLpcuyypwHs9054GwKs42nlBO
ULjO8F5WnK0cCvA9w14CemULUg0I3zTks9c1lvOVVrOuSyivPcO+XE9Vlapyqdvh
JaJXkFXc1s9J+OWta0IUCAs0m0ft0tm6joOKY0ZDg0J2+oeSMEgT/+Oe98O0Fr1K
ax0blJ7Hjoj8eUqzyOWs8hymecQ8Xr84CFGgXqDlg7XvW6hGQw21giqG0vwPtZWr
Gk0tXyi+KjQrHBe2hZlUnZvC/y1ij1fqIYNBxDzupAInRAH3jpU6KpPiSZllA1Vl
aXexZOctMw4MpVbpkK4stBoNqEInJetXJO1yqk8mPZW/awVapQodRM7jdQA/IQq4
ucaGPhbCY+MI0pP8xEgkuZHJWWHnXQSEvm8oloSyTK+nY6bPAwI6erkjqlFX4C8C
zrCfFCtU2Q4yHrThs+bvHkpYmMeWEAXcgdR3VEDbkjs1PTomFztmdFEy/ZB7Xw4d
P9ske1fpyAmb5O358I0Nc9IAcwX+LLAKDakmX+8TqmfKVzqCoN/wr4LMY6WjD+TP
q+I8CFEgrIv8oaIrDEMa6rPVXUE09g1H2vNUEk7bgLBz3ZVoWjYmVP9v2nDbTRzL
Otb2clWht3vVZEhlmU/zRYedxZ4s880jr3pn+TwIUcDt0rPDrvZeD57ppQ3s0HUG
kGeebn5jNJjvPNWorT0+hHrAmf99V0nkybUq85Axq4QoUN6Vl5Bsult4+YdXq++p
shql16pvKlTMd5arqEZJwHHhkoo3xiiJG1+aEqJAuTaue+8XhyK1ZFtxndq6zn9a
YflvbdWteclJq1M9XLAMOLwRFaI6j1HMPAhR4GMVKlXZuKXJt12NuqqotOwyVDlR
0tb6ahc5prKz3msg/wLSs+NyzPTcvL5p9djUto+eByEKlHQD2+jeFqbdGh0StHG8
ZV44iy0vOZY7a7k9Q6vRje3ZVHo2/FmXfb+69K1zaID65lGKuzgBcV1b2cnvA6bx
YAliGTOatvwgOwmtuaeLOzxUY+oVR8uALxBX2F4Xl91Mb6PBudbp9m3BHLGoZfPI
A3pMiALh1YgrYO5CbrGmoZE6Qrq1EJWANvOXwwaDDjXtxBOia08Vut+WfX25tpUc
FlhGbHfbPJzVM9154L1LT3czdAiMa+D9IR5kd540OIC+Ab4xrpOACjHWRcS9Uqve
a+CCEAXec1VLwU+G1CuBXF3JtOUutMxbzjBnAW/fJA089dLjKrEfZ848j1H5HfmF
IO89120Q6qniPLI2uvMj9kPa74i78q7jnbFd8EnivqmFmHp+vu8+KbmaqSwstQob
6Rn5HyVfEBud3q0u5y/P+mQ12tVV4U89XwhyAuxWl/+H44turT2A25IK1Nlue/P4
6ThM8GEePXYd4K/6oni9mcYhH6AnV/U4Ku+Fjv2MneagWNm2sT6HmAcAeKtQz+M1
+rQSANhD9MH1jChaCADsATr0PCCPKhQAHCG6qvr0TwCgCnVXoSe0EgDYQ/SZKhQA
qgVo6gjQl8+2vv8JMADWGQfdeIT15wAAAABJRU5ErkJggg==" alt="image">
  </div>
  <div class="menu">
    <ul *ngIf="menuRoot"
        nz-menu
        [nzMode]="'inline'"
        [nzInlineCollapsed]="isCollapsed"
        [hidden]="isCollapsed"
        nzTheme="dark"
    >
      <ng-container *ngTemplateOutlet="treeView; context:{ $implicit: filteredMenuRoot.children }"></ng-container>
      <ng-template #treeView let-data>
        <ng-container *ngFor="let item of data">
          <li nz-submenu
              #rla="routerLinkActive"
              routerLinkActive="active"
              [nzPaddingLeft]="item.level * 24"
              [nzOpen]="true"
              [nzDisabled]="item.disabled"
              *ngIf="!isLeafNode(item); else noSubMenu">
                <span title>
                  <i nz-icon nzType="{{item.icon}}"></i>
                  {{item.name}}
                </span>
            <ul>
              <ng-container *ngTemplateOutlet="treeView;  context:{ $implicit: item.children }"></ng-container>
            </ul>
          </li>
          <ng-template #noSubMenu>
            <ng-container *ngIf="notUrl(item); else second">
              <li nz-menu-item first #rla="routerLinkActive" routerLinkActive="active"
                  [nzSelected]="rla.isActive"
                  [nzPaddingLeft]="item.level * 24"
                  [nzDisabled]="item.disabled">
                <a (click)="goToPath(item.path)">
                  <i nz-icon nzType="{{item.icon}}"></i>
                  {{item.name}}
                </a>
              </li>
            </ng-container>
            <ng-template #second>
              <ng-container *ngIf="item.url">
                <li nz-menu-item second #rla="routerLinkActive" routerLinkActive="active"
                    [nzSelected]="rla.isActive"
                    [nzPaddingLeft]="item.level * 24"
                    [nzDisabled]="item.disabled">
                  <a (click)="goToUrl(item.url)">
                    {{item.name}}
                  </a>
                </li>
              </ng-container>
            </ng-template>
          </ng-template>
        </ng-container>
      </ng-template>
    </ul>
  </div>
</div>





