<div class="content">
  <div class="app-sider-logo">
    <img src="assets/img/logo-icon-white.png" alt="image">
  </div>
  <div class="menu">
    <ul *ngIf="menuRoot"
        nz-menu
        [nzMode]="'inline'"
        [nzInlineCollapsed]="isCollapsed"
        [hidden]="isCollapsed"
        nzTheme="dark"
    >
      <ng-container *ngTemplateOutlet="treeView; context:{ $implicit: filteredMenuRoot.children }"></ng-container>
      <ng-template #treeView let-data>
        <ng-container *ngFor="let item of data">
          <li nz-submenu
              #rla="routerLinkActive"
              routerLinkActive="active"
              [nzPaddingLeft]="item.level * 24"
              [nzOpen]="true"
              [nzDisabled]="item.disabled"
              *ngIf="!isLeafNode(item); else noSubMenu">
                <span title>
                  <i nz-icon nzType="{{item.icon}}"></i>
                  {{item.name}}
                </span>
            <ul>
              <ng-container *ngTemplateOutlet="treeView;  context:{ $implicit: item.children }"></ng-container>
            </ul>
          </li>
          <ng-template #noSubMenu>
            <ng-container *ngIf="notUrl(item); else second">
              <li nz-menu-item first #rla="routerLinkActive" routerLinkActive="active"
                  [nzSelected]="rla.isActive"
                  [nzPaddingLeft]="item.level * 24"
                  [nzDisabled]="item.disabled">
                <a (click)="goToPath(item.path)">
                  <i nz-icon nzType="{{item.icon}}"></i>
                  {{item.name}}
                </a>
              </li>
            </ng-container>
            <ng-template #second>
              <ng-container *ngIf="item.url">
                <li nz-menu-item second #rla="routerLinkActive" routerLinkActive="active"
                    [nzSelected]="rla.isActive"
                    [nzPaddingLeft]="item.level * 24"
                    [nzDisabled]="item.disabled">
                  <a (click)="goToUrl(item.url)">
                    {{item.name}}
                  </a>
                </li>
              </ng-container>
            </ng-template>
          </ng-template>
        </ng-container>
      </ng-template>
    </ul>
  </div>
</div>





