<nz-breadcrumb>
  <nz-breadcrumb-item>HOLDER MANAGEMENT</nz-breadcrumb-item>
  <nz-breadcrumb-item>Namespace</nz-breadcrumb-item>
  <nz-breadcrumb-item>New Namespace</nz-breadcrumb-item>
</nz-breadcrumb>
<div class="pfy-page-content">
  <form nz-form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired>Namespace</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input the Namespace!">
        <input type="text" nz-input formControlName="namespace" placeholder="Namespace" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 16, offset: 8 }">
        <div class="pfy-form-btn">
          <button nz-button nzType="primary" (click)="submitForm()">Submit</button>
          <button nz-button (click)="handleCancel()">Cancel</button>
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
