<div class="func-area">
  <div class="pfy-btn-right">
    <button (click)="addScan()" nz-button nzType="primary" [disabled]="!(project?.isAddressScanEnabled)">
      <i nz-icon
         nzType="plus"
         nzTheme="outline">
      </i>
      New Scan
    </button>
    <button (click)="addressScanTable.reload(true, false)" nzType="default" nz-button>
      <i nz-icon
         nzType="reload"
         nzTheme="outline">
      </i>Reload
    </button>
  </div>
</div>
<div class="pfy-page-content">
  <app-address-scan-table #addressScanTable
                          [autoReload]="true"
                          [projectId]="project?.id"
                          (detailClick)="handleDetailClick($event)"></app-address-scan-table>
</div>
