<nz-breadcrumb>
  <nz-breadcrumb-item>Holder Management</nz-breadcrumb-item>
  <nz-breadcrumb-item>Holder</nz-breadcrumb-item>
</nz-breadcrumb>

<div class="func-area">
  <div class="pfy-search-input">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input placeholder="input search text"/>
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
    </ng-template>
  </div>
  <div class="pfy-btn-right">
    <button nz-button nzType="primary" (click)="export()">Export</button>
    <button nz-button nzType="primary" (click)="addHolder()">New Holder</button>
  </div>
</div>

<div class="pfy-page-content">
  <pfy-table
    [tblColumns]="tblColumns"
    [tblData]="listOfData"
    [tblTotal]="total"
    [(pageIndex)]="currentPage"
    [loading]="isLoading"
    (detailClick)="handleDetailClick($event)"
    [pageable]="true"
    [pageSizeOptions]="pageSizeOptions"
    (pageSizeChange)="handlePageSizeChange($event)"
  ></pfy-table>
</div>
