<div class="backdrop">
  <div class="grandParentContaniner">
    <div class="parentContainer">

      <nz-card>
        <div class="logo">

        </div>
        <form nz-form [formGroup]="validateForm" class="login-form">
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your username!">
              <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input formControlName="userName" placeholder="Username" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!">
              <nz-input-group nzPrefixIcon="lock">
                <input type="password" nz-input formControlName="password" placeholder="Password" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <label nz-checkbox formControlName="remember">
                <span>Remember me</span>
              </label>
              <button nz-button nzBlock nzType="primary" nzShape="round">Login</button>
              <button (click)="login()" class="my-2" nz-button nzBlock nzType="primary" nzShape="round"><i nz-icon
                  type="google"></i>Login via Google</button>

            </nz-form-control>
          </nz-form-item>
        </form>

      </nz-card>

    </div>
  </div>

</div>