/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/style/index.min.css";
/* Import basic styles */
@import "~ng-zorro-antd/button/style/index.min.css"; /* Import styles of the component */
html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.ant-badge {
  font-size: 10px !important;
  line-height: 2 !important;
}

.func-area {
  height: 10%;

  .area-title {
  }

  .pfy-search-input {
    float: left;
    margin: 10px 0px 10px 0px;

    input {
      margin: 5px;
    }
  }
}

.pfy-page-content {
  padding: 15px;
  display: block;
  .center {
    text-align: center;
  }
  form {
    width: 80%;
    display: inline-block;

    text-align: left;
    .ant-form-item-label {
      line-height: 30px;
    }

    .ant-form-item {
      margin: 0 0 15px;
    }
  }
}

.pfy-form-btn {
  float: right;

  button {
    margin: 5px;
  }
}

.pfy-btn-right {
  float: right;
  margin: 10px 0px 10px 0px;

  button {
    margin: 5px;
  }
}

.pfy-btn-left {
  float: left;
  margin: 10px 0px 10px 0px;

  button {
    margin: 5px;
  }
}

.markdown-body {
  code {
    color: #1890ff;
    background-color: #e6f7ff;
    box-sizing: border-box;
    margin: 0 8px 0 0;
    padding: 0 7px;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum";
    display: inline-block;
    height: auto;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    border: 1px solid #91d5ff;
    border-radius: 4px;
    cursor: default;
    opacity: 1;
    transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  }
}
