<nz-breadcrumb>
  <nz-breadcrumb-item>Flow Labeling</nz-breadcrumb-item>
</nz-breadcrumb>

<div class="func-area">
  <div class="pfy-btn-right">
    <button (click)="addFlowLabeling()" nz-button nzType="primary">New Flow Labeling</button>
  </div>
</div>
<div class="pfy-page-content">
  <pfy-table
    [tblColumns]="tblColumns"
    [tblData]="listOfData"
    [tblTotal]="total"
    [(pageIndex)]="currentPage"
    [loading]="isLoading"
    (detailClick)="handleDetailClick($event)"
    [pageable]="true"
    [pageSizeOptions]="pageSizeOptions"
    (pageSizeChange)="handlePageSizeChange($event)"
  ></pfy-table>
</div>
